.cont{
    height: 85vh; 
    padding: 10vh 15vw;
    display: flex;
  background-color: rgb(240, 249, 255);
  /* background-color: black; */
  background-image: url('wave-haikei\ \(1\).png');
  background-size: cover;
}
.md1{
    padding: 5vh 0vw 0vh 0vw;
    width: 60%;
}
.md2{

    filter: drop-shadow(0px 0px 100px rgb(37, 139, 255));
    height: 40vh;
    width: 30%;
    margin-left: 15%;
    margin-top: 5%;
}
#element{
    color: rgb(0, 119, 255);
    font-weight: 500;
    font-size: 6vh;
   }
   .md1 p{
    font-size: larger;
   }
   
   .mynav{
       background-color: rgb(122, 98, 255);
       color: rgb(255, 255, 255);
       width:100%;
       padding: 1px 20%;
   }
   .mynavh1{
    padding-bottom: 4vh; 
   
    color: rgb(255, 255, 255);
     height: .1vh;
     
   }
   footer{
    background-color: rgb(122, 98, 255);
    color: antiquewhite;
   }
   .type1{
    height: 2vh;
   }
   .col-sm-5{
    width: 50%;
   }
   .col-sm-4{
    width: 20%;
   }
.skills h1{
        margin-top: 5vh;
        color: beige;
   
 
}
@media only screen and (max-width: 600px) {
  
        .mynav h1{
        
            color: rgb(255, 255, 255);   
        }
        .mynav{
            padding: 0;
        }
    button{
        display:none;
    }

    .cont{
        height: 90vh; 
        padding: 20px 20px;
        flex-direction: column-reverse;
    }
    .md1{
        padding: 0px 0px;
        height:60%;
        width:100%;
    }
   
    .md1 p{
        text-align: center;
        font-size: 15px;
    }
    .md1 p span{
        text-align: justify;
    }
   
    .md1 h1{
        text-align: center;
        font-size: 30px;
    }
    .md2{
        filter: drop-shadow(0px 0px 100px rgb(37, 139, 255));
        margin-top: 20%;
        margin-bottom:10%;
        margin-left: 25%;
        padding:0px;
        height:40%;
        width:50%;

    }
    #element{
        
        color: rgb(68, 30, 150);
        font-weight: 500;
        font-size: 20px;
        
       }
       .type1{
        text-align: center;
       }
       .col-sm-5{
        width: 100%;
       }
       .col-sm-4{
        width: 33.3%;
       }
       .row :nth-child(4){
        width: 50.0%;
       }
       .row :nth-child(5){
        width: 50.0%;
       }
  }